body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.catalogo {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.producto a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #25D366;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.producto a:hover {
    background-color: #128C7E;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
